<div class="body container">
<!-- <app-databinding-demo></app-databinding-demo> -->
 <!-- <app-directives-demo></app-directives-demo> -->

 <!-- <app-directives-demo1></app-directives-demo1> -->
 <!-- <app-product-list></app-product-list> -->

<!-- <app-directive-assignments></app-directive-assignments> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->   
  <!-- <app-parent></app-parent> -->
  <!-- <app-employee-crud></app-employee-crud> -->
   <!-- <app-user-list></app-user-list> -->
    <!-- <app-starrating></app-starrating> -->
     <!-- <app-demo1> </app-demo1> -->

     <!-- <app-signal-demo1></app-signal-demo1> -->

    <!-- <app-signal-demo2></app-signal-demo2> -->
     <!-- <app-form-demo1></app-form-demo1> -->

     <!-- <app-template-form1-demo1></app-template-form1-demo1> -->

     <!-- <app-signal-form-demo1></app-signal-form-demo1> -->
    
     <!-- <app-model-form> </app-model-form> -->
     <!-- <app-dynamic-form></app-dynamic-form> -->
      <router-outlet> </router-outlet>

</div>
