<h3 class="text-center">Let's Learn Directives</h3>
<div class="border border-2 rounded-2 m-2 p-2">
  <div>ngIf Before Angular-17</div>
  <div><input type="number" [(ngModel)]="num"></div>
  <div *ngIf="num%2==0">{{num}} is Even</div>
  <div *ngIf="num%2!=0">{{num}} is Odd</div>
  <hr/>
  <div>If-Else After Angular-17</div>
  @if(num%2==0){
    <div>{{num}} is Even</div>
  }@else {
    <div>{{num}} is Odd</div>
  }
</div>
<div class="border border-2 rounded-2 m-2 p-2">
  <div>Switch Case:</div>
  @switch (num) {
    @case (1) { <h1>Monday</h1> }
    @case (2) { <h1>Tuesday</h1> }
    @case (3) { <h1>Wednesday</h1> }
    @case (4) { <h1>Thursday</h1> }
    @case (5) { <h1>Friday</h1> }
    @case (6) { <h1>Saturday</h1> }
    @case (7) { <h1>Sunday</h1> }
    @default { <h1>Not a Valid number</h1> }
  }
</div>
<div class="border border-2 rounded-2 m-2 p-2">
  <div>States List using For Loop/Directive</div>
  <ul>
    @for (state of statesArr; track $index) {
      <li>{{state}}</li>
    }
  </ul>
</div>
<div class="border border-2 rounded-2 m-2 p-2">
  <div>States dropdown using For Loop/Directive</div>
  <select [(ngModel)]="selectedState">
    @for (state of statesArr; track $index) {
      <option>{{state}}</option>
    }
  </select>
  <div> selectedState: {{selectedState}} </div>
</div>
<div class="border border-2 rounded-2 m-2 p-2">
 <table>
    @for (emp of employees; track $index)
    {
    <tr>
       <td>{{emp.eId}}</td>
    </tr>
    }
 </table>
</div>

<div class="border border-2 rounded-2 m-2 p-2">
  <div>ngClass is used to apply css classes conditionally/dynamically </div>
    <div><input type="number" [(ngModel)]="num"></div>
  <span [ngClass]="{'pending':status=='pending','approved':status=='approved','rejected':status=='rejected'}">
    {{status}}</span>

 <button [ngClass]="['btn','mx-2',num%2==0?'btn-success':'btn-danger']">Click Me </button>
</div>


<div class="border border-2 rounded-2 m-2 p-2">
  <div>ngStyle is used to apply some style conditionally/dynamically </div>
  <p [style.color]="num%2==0?'blue':'red'">Add a style</p>
  <p [style.fontSize.px]="num%2==0?24:36">Add a style with unit</p>
  <p [style.background-color]="num%2==0?'green':'blue' ">Add style conditionally</p>
  <p [ngStyle]="num%2==0?myStyle1:myStyle2">NgStyle for multiple values </p>
  <p [ngStyle]="myFunction()"> NgStyle for multiple values </p>
</div>


<div class="border border-2 rounded-2 m-2 p-2">
  <label for="filter">Filter tasks: </label>
  <select id="filter" [(ngModel)]="filter">
    <option value="All">All</option>
    <option value="Completed">Completed</option>
    <option value="Pending">Pending</option>
  </select>
</div>


<div class="border border-2 rounded-2 m-2 p-2">
  <div>ngIf Ng-Template </div>
  <div><input type="number" [(ngModel)]="num"></div>
  <div *ngIf="num%2==0;else oddBlock">
    {{num}} is Even
  </div>
  <ng-template #oddBlock>{{num}} is Odd </ng-template>  
</div>



<div class="border border-2 rounded-2 m-2 p-2">
  <app-my-modal>
    <!-- <h2 modal-title>This is Modal Title From parent</h2> -->
     <div class="myTitle">Angular Image</div>
    <img src="https://tse3.mm.bing.net/th/id/OIP.liYbsPpCk8BCLhNs9R9Z4wHaE8?pid=Api&h=220&P=0" alt="" />
  </app-my-modal>  
  <!-- <app-my-modal>
  <form action="/action_page.php">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

  </app-my-modal>   -->
  <!-- <app-my-modal></app-my-modal>   -->

</div>

